@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import "tailwindcss";

#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  :root {

    /* branding colors */
    --color-primary: 130 137 164; 
    --color-secondary: 250 250 250;
    --color-tertiary: 96 120 72;
    --color-primary-inverted: 255 255 255;
    --color-primary-hover: 80 160 210;
    --color-secondary-inverted: 255 255 255;
    --color-secondary-hover: 130 137 164;

    /* text colors */
    --color-text-base: 0 0 0;
    --color-text-muted: 120 120 120;
    --color-text-inverted: 255 255 255;

    /* background colors */
    --color-bg-primary: 250 250 250;
    --color-bg-secondary: 160 200 120;
    --color-bg-tertiary: 112 140 84;

    /* status colors */
    --color-error: 220 90 90;
  }

  h1 {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 48px;
  }

  h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 28px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
  }

  body {
    font-family: sans-serif;
  }